In [2]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [12]:
df = pd.read_csv("olive.csv")
df

,Unnamed: 0,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29
2,3.North-Apulia,1,1,911,54,246,8113,549,31,63,29
3,4.North-Apulia,1,1,966,57,240,7952,619,50,78,35
4,5.North-Apulia,1,1,1051,67,259,7771,672,50,80,46
...,...,...,...,...,...,...,...,...,...,...,...
567,568.West-Liguria,3,8,1280,110,290,7490,790,10,10,2
568,569.West-Liguria,3,8,1060,100,270,7740,810,10,10,3
569,570.West-Liguria,3,8,1010,90,210,7720,970,0,0,2
570,571.West-Liguria,3,8,990,120,250,7750,870,10,10,2
571,572.West-Liguria,3,8,960,80,240,7950,740,10,20,2

In [13]:
print("pd.crosstab(df.area, df.region:\n",pd.crosstab(df.area, df.region))
print("df[['palmitic']]:\n",df[['palmitic']])
print("df['palmitic']:\n", df['palmitic'])
print("type of df[['palmitic']]:\t", type(df[['palmitic']]))
print("type of df['palmitic']:\t\t", type(df['palmitic']))

pd.crosstab(df.area, df.region:
 region    1   2   3
area
1        25   0   0
2        56   0   0
3       206   0   0
4        36   0   0
5         0  65   0
6         0  33   0
7         0   0  50
8         0   0  50
9         0   0  51
df[['palmitic']]:
      palmitic
0        1075
1        1088
2         911
3         966
4        1051
..        ...
567      1280
568      1060
569      1010
570       990
571       960

[572 rows x 1 columns]
df['palmitic']:
 0      1075
1      1088
2       911
3       966
4      1051
       ...
567    1280
568    1060
569    1010
570     990
571     960
Name: palmitic, Length: 572, dtype: int64
type of df[['palmitic']]:	 <class 'pandas.core.frame.DataFrame'>
type of df['palmitic']:		 <class 'pandas.core.series.Series'>

In [20]:
# Первая концепция, с которой мы имеем дело, это пандавский groupby. 
#Идея состоит в том, чтобы сгруппировать фрейм данных по значениям определенной переменной. 
region_groupby = df.groupby('region')
print(type(region_groupby))
print(region_groupby.head())

print(type(region_groupby.describe()), "\n region_groupby.describe().head(20):\n")
print(region_groupby.describe().head(20))
# Функция groupby предоставляет вам словарь-подобный объект, ключами которого являются значения фактора
# (по которому группируем),а значениями являются соответствующие подмножества dataframe.
for key, value in region_groupby:
    print("( key, type(value) ) = (", key, ",", type(value), ")")
    v=value

v.head()

# Таким образом, можно выполнить итерацию по groupby 'dictionary', получить pandas series из каждого под-dataframe
# и вычислить стандартное отклонение, используя функцию std (документация по std здесь):
vecs=[]
keys=[]
print("стандартное отклонение:\n")
for key, value in region_groupby:
    k=key
    v=value.std()
    print(k, type(v), "\n", v, "\n")

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>
          areastring  region  area  palmitic  palmitoleic  stearic  oleic  \
0       North-Apulia       1     1      1075           75      226   7823
1       North-Apulia       1     1      1088           73      224   7709
2       North-Apulia       1     1       911           54      246   8113
3       North-Apulia       1     1       966           57      240   7952
4       North-Apulia       1     1      1051           67      259   7771
323  Inland-Sardinia       2     5      1129          120      222   7272
324  Inland-Sardinia       2     5      1042          135      210   7376
325  Inland-Sardinia       2     5      1103           96      210   7380
326  Inland-Sardinia       2     5      1118           97      221   7279
327  Inland-Sardinia       2     5      1052           95      215   7388
421           Umbria       3     9      1085           70      180   7955
422           Umbria       3     9      1085           70      185   7955
423           Umbria       3     9      1090           60      190   7950
424           Umbria       3     9      1080           65      189   7960
425           Umbria       3     9      1090           60      195   7955

     linoleic  linolenic  arachidic  eicosenoic
0         672         36         60          29
1         781         31         61          29
2         549         31         63          29
3         619         50         78          35
4         672         50         80          46
323      1112         43         98           2
324      1116         35         90           3
325      1085         32         94           3
326      1154         35         94           2
327      1126         31         92           1
421       605         20         50           1
422       600         25         55           1
423       600         28         47           2
424       602         35         20           1
425       600         28         42           2
<class 'pandas.core.frame.DataFrame'>
 region_groupby.describe().head(20):

         area                                              palmitic  \
        count      mean       std  min  25%  50%  75%  max    count
region
1       323.0  2.783282  0.741054  1.0  2.5  3.0  3.0  4.0    323.0
2        98.0  5.336735  0.475023  5.0  5.0  5.0  6.0  6.0     98.0
3       151.0  8.006623  0.820542  7.0  7.0  8.0  9.0  9.0    151.0

                     ... arachidic        eicosenoic                       \
               mean  ...       75%    max      count       mean       std
region               ...
1       1332.287926  ...      69.0  102.0      323.0  27.321981  8.391528
2       1111.346939  ...      81.0  105.0       98.0   1.938776  0.743582
3       1094.801325  ...      59.5  100.0      151.0   1.973510  0.729813


         min   25%   50%   75%   max
region
1       10.0  22.0  27.0  32.0  58.0
2        1.0   1.0   2.0   2.0   3.0
3        1.0   1.0   2.0   2.5   3.0

[3 rows x 72 columns]
( key, type(value) ) = ( 1 , <class 'pandas.core.frame.DataFrame'> )
( key, type(value) ) = ( 2 , <class 'pandas.core.frame.DataFrame'> )
( key, type(value) ) = ( 3 , <class 'pandas.core.frame.DataFrame'> )
1 <class 'pandas.core.series.Series'>
 region           0.000000
area             0.741054
palmitic       152.934872
palmitoleic     50.723686
stearic         39.870851
oleic          345.143066
linoleic       210.673018
linolenic        7.972709
arachidic       11.164430
eicosenoic       8.391528
dtype: float64

2 <class 'pandas.core.series.Series'>
 region           0.000000
area             0.475023
palmitic        40.411059
palmitoleic     13.851429
stearic         17.636272
oleic          141.878268
linoleic       107.233554
linolenic        5.384374
arachidic       11.882609
eicosenoic       0.743582
dtype: float64

3 <class 'pandas.core.series.Series'>
 region           0.000000
area             0.820542
palmitic        82.563513
palmitoleic     26.438785
stearic         38.956047
oleic          164.815525
linoleic       143.122578
linolenic       16.886527
arachidic       29.358573
eicosenoic       0.729813
dtype: float64

In [16]:
df = df.rename(columns={df.columns[0]:"areastring"})
df.areastring=df.areastring.map(lambda x: x.split('.')[-1])
df.head()

,areastring,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic
0,North-Apulia,1,1,1075,75,226,7823,672,36,60,29
1,North-Apulia,1,1,1088,73,224,7709,781,31,61,29
2,North-Apulia,1,1,911,54,246,8113,549,31,63,29
3,North-Apulia,1,1,966,57,240,7952,619,50,78,35
4,North-Apulia,1,1,1051,67,259,7771,672,50,80,46