In [1]:
import numpy as np
import pandas as pd
import gc

gc.collect()

reign_csv = pd.read_csv("REIGN_2019_10.csv")
reign_csv.head

<bound method NDFrame.head of         ccode country                        leader    year  month  elected  \
0         2.0     USA                        Truman  1950.0    1.0      1.0
1         2.0     USA                        Truman  1950.0    2.0      1.0
2         2.0     USA                        Truman  1950.0    3.0      1.0
3         2.0     USA                        Truman  1950.0    4.0      1.0
4         2.0     USA                        Truman  1950.0    5.0      1.0
...       ...     ...                           ...     ...    ...      ...
134241  990.0   Samoa  Tuilaepa Sailele Malielegaoi  2019.0    6.0      1.0
134242  990.0   Samoa  Tuilaepa Sailele Malielegaoi  2019.0    7.0      1.0
134243  990.0   Samoa  Tuilaepa Sailele Malielegaoi  2019.0    8.0      1.0
134244  990.0   Samoa  Tuilaepa Sailele Malielegaoi  2019.0    9.0      1.0
134245  990.0   Samoa  Tuilaepa Sailele Malielegaoi  2019.0   10.0      1.0

         age  male  militarycareer  tenure_months  ... delayed  lastelection  \
0       66.0     1             0.0           58.0  ...     0.0      2.639057
1       66.0     1             0.0           59.0  ...     0.0      2.708050
2       66.0     1             0.0           60.0  ...     0.0      2.772589
3       66.0     1             0.0           61.0  ...     0.0      2.833213
4       66.0     1             0.0           62.0  ...     0.0      2.890372
...      ...   ...             ...            ...  ...     ...           ...
134241  74.0     1             0.0          247.0  ...     0.0      3.688879
134242  74.0     1             0.0          248.0  ...     0.0      3.713572
134243  74.0     1             0.0          249.0  ...     0.0      3.737670
134244  74.0     1             0.0          250.0  ...     0.0      3.761200
134245  74.0     1             0.0          251.0  ...     0.0      3.784190

            loss  irregular  prev_conflict  pt_suc  pt_attempt    precip  \
0       5.327876   7.565793            0.0     0.0         0.0 -0.058404
1       5.332719   7.566311            0.0     0.0         0.0 -0.104454
2       5.337538   7.566829            0.0     0.0         0.0 -0.097329
3       5.342334   7.567346            0.0     0.0         0.0 -0.032230
4       5.347107   7.567863            0.0     0.0         0.0 -0.123748
...          ...        ...            ...     ...         ...       ...
134241  5.932245   6.538140            0.0     0.0         0.0  0.085686
134242  5.934894   6.539586            0.0     0.0         0.0  0.089305
134243  5.937536   6.541030            0.0     0.0         0.0  0.108518
134244  5.940171   6.542472            0.0     0.0         0.0  0.092245
134245  5.942800   6.543912            0.0     0.0         0.0  0.054953

        couprisk  pctile_risk
0            NaN          NaN
1            NaN          NaN
2            NaN          NaN
3            NaN          NaN
4            NaN          NaN
...          ...          ...
134241  0.000290     0.091880
134242  0.000290     0.092486
134243  0.000310     0.108954
134244  0.000290     0.091870
134245  0.000292     0.094426

[134246 rows x 38 columns]>

In [ ]:
# 1 and 2:
# df_len = len(reign_csv)
# print(df_len)
# gov_num = len(reign_csv.government.unique())
# av_age = sum(reign_csv.age)/df_len
# print("1: Кол-во форм правлений: {0:3d}\n,2: Средний возраст правителей: {1:5.2f}\n".format(gov_num, av_age))

# Пример использования Series.replase ---------------------
# reign_csv.male = reign_csv.male.replace(to_replace=[0, 1], value=['False', 'True'])
# print(reign_csv)
# ct = pd.DataFrame(pd.crosstab(reign_csv.male, [reign_csv.leader, reign_csv.country]), index=['True', 'False'])
# print("cross tab:\n",type(ct),ct.index)
# ct.loc['True']
# ---------------------------------------------------------

# ct = pd.crosstab(reign_csv.leader, [reign_csv.country, reign_csv.age, reign_csv.male == 0])
# ct = pd.DataFrame(pd.crosstab(reign_csv.male, [reign_csv.leader, reign_csv.country]), index=[0, 1])
# print("cross tab:\n",ct)
# print("Встречаемость женщин:\n",ct.iloc[0].head())
# print("Встречаемость мужчин:\n",ct.iloc[1].head())
# wnum = ct.iloc[0].ge(1).sum(axis=1) # ct.iloc[0].ge(1) - серия True/False
# mnum = ct.iloc[1].ge(1).sum(axis=1)
# snum = wnum+mnum
# print("Всего глав государств: {0}.\nИз них женщин: {1}, и мужчин: {2}".format(snum, wnum, mnum))
# # 3 and 4:
# print("Процентное соотношение ж/м (без учета срока правления): {0:.2f} % к {1:.2f} %".format(s0val/sval*100, s1val/sval*100))
# 
# !! ПРЕДУСМОТРЕТЬ ПАРАМЕТР elected !!
#s0val = ct.iloc[0].sum(axis=0) # ct.iloc[0].ge(1) - серия True/False
# s1val = ct.iloc[1].sum(axis=0)
# sval = s0val + s1val
# print("Процентное соотношение ж/м (с учетом срока правления): {0:.2f} % к {1:.2f} %".format(s0val/sval*100, s1val/sval*100))

# Пример использования логических statements -------------
# reign_csv1 = reign_csv[(reign_csv['male'] == 1)]
# print("reign_csv1:\n",reign_csv1)
# --------------------------------------------------------

In [61]:
# 5:
rgn120 = reign_csv[(reign_csv['tenure_months'] < 120)]
dfgb = pd.DataFrame(rgn120.groupby(['leader', 'country', 'male']).agg({'age': 'max'}).reset_index())
print("Среднее и среднеквадратичное отклонение возрастов правителей со сроком < 120 мес.: {0:.3f} {1:.3f}"
      .format(dfgb.age.mean(), dfgb.age.std()))
rgn120 = reign_csv[(reign_csv['tenure_months'] >= 120)]
dfgb = pd.DataFrame(rgn120.groupby(['leader', 'country', 'male']).agg({'age': 'max'}).reset_index())
print("Среднее и среднеквадратичное отклонение возрастов правителей со сроком >= 120 мес.: {0:.3f} {1:.3f}"
      .format(dfgb.age.mean(), dfgb.age.std()))

Среднее и среднеквадратичное отклонение возрастов правителей со сроком < 120 мес.: 58.330 10.264
Среднее и среднеквадратичное отклонение возрастов правителей со сроком >= 120 мес.: 66.980 11.008

In [5]:
country = reign_csv['country'] == "USA"
name = reign_csv['leader'] == 'Obama'
el = reign_csv['elected'] == 1
tnr = reign_csv['tenure_months'] == 1
reign_csv[country & tnr]

,ccode,country,leader,year,month,elected,age,male,militarycareer,tenure_months,...,delayed,lastelection,loss,irregular,prev_conflict,pt_suc,pt_attempt,precip,couprisk,pctile_risk
37,2.0,USA,Eisenhower,1953.0,1.0,1.0,63.0,1,1.0,1.0,...,0.0,1.098612,1.098612,7.584265,0.0,0.0,0.0,-0.658437,NaN,NaN
134,2.0,USA,Kennedy,1961.0,1.0,1.0,44.0,1,0.0,1.0,...,0.0,1.098612,1.098612,7.631917,0.0,0.0,0.0,-0.513151,NaN,NaN
169,2.0,USA,Johnson,1963.0,11.0,0.0,55.0,1,0.0,1.0,...,0.0,3.610918,3.610918,7.648263,0.0,0.0,0.0,-0.380788,NaN,NaN
232,2.0,USA,Nixon,1969.0,1.0,1.0,56.0,1,0.0,1.0,...,0.0,1.098612,1.098612,7.677400,0.0,0.0,0.0,0.001424,NaN,NaN
300,2.0,USA,Ford,1974.0,8.0,0.0,61.0,1,0.0,1.0,...,0.0,3.091043,4.248495,7.707962,0.0,0.0,0.0,0.149103,NaN,NaN
330,2.0,USA,Carter,1977.0,1.0,1.0,53.0,1,0.0,1.0,...,0.0,1.098612,1.098612,7.720905,0.0,0.0,0.0,-0.825903,0.001163,0.596793
379,2.0,USA,Reagan,1981.0,1.0,1.0,70.0,1,0.0,1.0,...,0.0,1.098612,1.098612,7.741968,0.0,0.0,0.0,-0.467770,0.001688,0.712636
476,2.0,USA,Bush,1989.0,1.0,1.0,65.0,1,0.0,1.0,...,0.0,1.098612,4.595120,7.782807,0.0,0.0,0.0,-0.710649,0.000230,0.054395
525,2.0,USA,Clinton,1993.0,1.0,1.0,47.0,1,0.0,1.0,...,0.0,1.098612,1.098612,7.802618,0.0,0.0,0.0,0.282364,0.000550,0.306584
622,2.0,USA,G.W. Bush,2001.0,1.0,1.0,55.0,1,0.0,1.0,...,0.0,1.098612,1.098612,7.841100,0.0,0.0,0.0,0.032986,0.000475,0.251799
719,2.0,USA,Obama,2009.0,1.0,1.0,48.0,1,0.0,1.0,...,0.0,1.098612,1.098612,7.878156,1.0,0.0,0.0,0.156444,0.001963,0.748036
816,2.0,USA,Trump,2017.0,1.0,1.0,71.0,1,0.0,1.0,...,0.0,1.098612,1.098612,7.913887,1.0,0.0,0.0,0.458039,0.000240,0.059015

In [28]:
pd.DataFrame(reign_csv.groupby(['leader', 'country', 'male']).agg({'tenure_months': 'max'}))

                                tenure_months
leader        country     male
A. Nastase    Romania     1              49.0
A. Papandreou Greece      1              94.0
AL-Sallal     Yemen       1              63.0
Abacha        Nigeria     1              56.0
Abbasi        Pakistan    1              10.0
...                                       ...
van Agt       Netherlands 1              60.0
van Houtte    Belgium     1              28.0
van Rompuy    Belgium     1              12.0
von Moos      Switzerland 1              12.0
von Steiger   Switzerland 1              12.0

[2119 rows x 1 columns]

In [20]:
# 7: статистика возраста и пола для каждой из стран:
# reign_csv.columns
df = pd.DataFrame(reign_csv.groupby(['leader', 'country', 'male']))
df.agg({'age': 'max'})

/home/lamer64ick/.local/lib/python3.6/site-packages/pandas/core/frame.py:6712: FutureWarning: using a dict with renaming is deprecated and will be removed
in a future version.

For column-specific groupby renaming, use named aggregation

    >>> df.groupby(...).agg(name=('column', aggfunc))

  result, how = self._aggregate(func, axis=axis, *args, **kwargs)

KeyError: 'age'