In [6]:
import numpy as np
import pandas as pd
import gc

gc.collect()

reign_csv = pd.read_csv("REIGN_2019_10.csv")
reign_csv.head()

,ccode,country,leader,year,month,elected,age,male,militarycareer,tenure_months,...,delayed,lastelection,loss,irregular,prev_conflict,pt_suc,pt_attempt,precip,couprisk,pctile_risk
0,2.0,USA,Truman,1950.0,1.0,1.0,66.0,1,0.0,58.0,...,0.0,2.639057,5.327876,7.565793,0.0,0.0,0.0,-0.058404,NaN,NaN
1,2.0,USA,Truman,1950.0,2.0,1.0,66.0,1,0.0,59.0,...,0.0,2.708050,5.332719,7.566311,0.0,0.0,0.0,-0.104454,NaN,NaN
2,2.0,USA,Truman,1950.0,3.0,1.0,66.0,1,0.0,60.0,...,0.0,2.772589,5.337538,7.566829,0.0,0.0,0.0,-0.097329,NaN,NaN
3,2.0,USA,Truman,1950.0,4.0,1.0,66.0,1,0.0,61.0,...,0.0,2.833213,5.342334,7.567346,0.0,0.0,0.0,-0.032230,NaN,NaN
4,2.0,USA,Truman,1950.0,5.0,1.0,66.0,1,0.0,62.0,...,0.0,2.890372,5.347107,7.567863,0.0,0.0,0.0,-0.123748,NaN,NaN

In [56]:
# 1 and 2:
import gc
gc.collect()
df_len = len(reign_csv)
print(df_len)
gov_num = len(reign_csv.government.unique())
av_age = sum(reign_csv.age)/df_len
print("1: Кол-во форм правлений: {0:3d}\n,2: Средний возраст правителей: {1:5.2f}\n".format(gov_num, av_age))

134246
1: Кол-во форм правлений:  16
,2: Средний возраст правителей: 57.16

leader,A. Nastase,A. Papandreou,AL-Sallal,Abacha,Abbasi,Abbott,Abboud,Abdallah,Abdallah Yakta,Abdelrahman Burhan,...,den Uyl,dit M'Bare,do Rosario,el-Yachroutu,van Acker,van Agt,van Houtte,van Rompuy,von Moos,von Steiger
country,Romania,Greece,Yemen,Nigeria,Pakistan,Australia,Sudan,Comoros,Afghanistan,Sudan,...,Netherlands,Mauritania,Cape Verde,Comoros,Belgium,Netherlands,Belgium,Belgium,Switzerland,Switzerland
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,49,120,63,56,10,25,73,2,2,7,...,56,5,8,4,51,60,28,12,24,12

In [61]:
# Пример использования Series.replase ---------------------
reign_csv.male = reign_csv.male.replace(to_replace=[0, 1], value=['False', 'True'])
print(reign_csv)
ct = pd.DataFrame(pd.crosstab(reign_csv.male, [reign_csv.leader, reign_csv.country]), index=['True', 'False'])
print("cross tab:\n",type(ct),ct.index)
ct.loc['True']
# ---------------------------------------------------------

Среднее и среднеквадратичное отклонение возрастов правителей со сроком < 120 мес.: 58.330 10.264
Среднее и среднеквадратичное отклонение возрастов правителей со сроком >= 120 мес.: 66.980 11.008

In [5]:
# 3 and 4:
reignpart = reign_csv[['country', 'leader', 'male']]
dist_male = pd.DataFrame(pd.crosstab(reignpart.male, [reignpart.leader, reignpart.country]), index=[0, 1])
print("cross tab:\n",dist_male)
print("Встречаемость женщин:\n",dist_male.iloc[0].head())
print("Встречаемость мужчин:\n",dist_male.iloc[1].head())
wnum = dist_male.iloc[0].ge(1).sum(axis=1) # ct.iloc[0].ge(1) - серия True/False
mnum = dist_male.iloc[1].ge(1).sum(axis=1)
snum = wnum+mnum
print("Всего глав государств: {0}.\nИз них женщин: {1}, и мужчин: {2}".format(snum, wnum, mnum))
s0val = ct.iloc[0].sum(axis=0)
s1val = ct.iloc[1].sum(axis=0)
sval = s0val + s1val
print("Процентное соотношение ж/м (без учета срока правления): {0:.2f} % к {1:.2f} %".format(s0val/sval*100, s1val/sval*100))

# !! ПРЕДУСМОТРЕТЬ ПАРАМЕТР elected !!
print("Процентное соотношение ж/м (с учетом срока правления): {0:.2f} % к {1:.2f} %".format(s0val/sval*100, s1val/sval*100))

# Пример использования логических statements -------------
# reign_csv1 = reign_csv[(reign_csv['male'] == 1)]
# print("reign_csv1:\n",reign_csv1)
# --------------------------------------------------------

,ccode,country,leader,year,month,elected,age,male,militarycareer,tenure_months,...,delayed,lastelection,loss,irregular,prev_conflict,pt_suc,pt_attempt,precip,couprisk,pctile_risk
37,2.0,USA,Eisenhower,1953.0,1.0,1.0,63.0,1,1.0,1.0,...,0.0,1.098612,1.098612,7.584265,0.0,0.0,0.0,-0.658437,NaN,NaN
134,2.0,USA,Kennedy,1961.0,1.0,1.0,44.0,1,0.0,1.0,...,0.0,1.098612,1.098612,7.631917,0.0,0.0,0.0,-0.513151,NaN,NaN
169,2.0,USA,Johnson,1963.0,11.0,0.0,55.0,1,0.0,1.0,...,0.0,3.610918,3.610918,7.648263,0.0,0.0,0.0,-0.380788,NaN,NaN
232,2.0,USA,Nixon,1969.0,1.0,1.0,56.0,1,0.0,1.0,...,0.0,1.098612,1.098612,7.677400,0.0,0.0,0.0,0.001424,NaN,NaN
300,2.0,USA,Ford,1974.0,8.0,0.0,61.0,1,0.0,1.0,...,0.0,3.091043,4.248495,7.707962,0.0,0.0,0.0,0.149103,NaN,NaN
330,2.0,USA,Carter,1977.0,1.0,1.0,53.0,1,0.0,1.0,...,0.0,1.098612,1.098612,7.720905,0.0,0.0,0.0,-0.825903,0.001163,0.596793
379,2.0,USA,Reagan,1981.0,1.0,1.0,70.0,1,0.0,1.0,...,0.0,1.098612,1.098612,7.741968,0.0,0.0,0.0,-0.467770,0.001688,0.712636
476,2.0,USA,Bush,1989.0,1.0,1.0,65.0,1,0.0,1.0,...,0.0,1.098612,4.595120,7.782807,0.0,0.0,0.0,-0.710649,0.000230,0.054395
525,2.0,USA,Clinton,1993.0,1.0,1.0,47.0,1,0.0,1.0,...,0.0,1.098612,1.098612,7.802618,0.0,0.0,0.0,0.282364,0.000550,0.306584
622,2.0,USA,G.W. Bush,2001.0,1.0,1.0,55.0,1,0.0,1.0,...,0.0,1.098612,1.098612,7.841100,0.0,0.0,0.0,0.032986,0.000475,0.251799
719,2.0,USA,Obama,2009.0,1.0,1.0,48.0,1,0.0,1.0,...,0.0,1.098612,1.098612,7.878156,1.0,0.0,0.0,0.156444,0.001963,0.748036
816,2.0,USA,Trump,2017.0,1.0,1.0,71.0,1,0.0,1.0,...,0.0,1.098612,1.098612,7.913887,1.0,0.0,0.0,0.458039,0.000240,0.059015

In [28]:
# 5:
gb = reign_csv[(reign_csv['tenure_months'] < 120)].groupby(['leader', 'country', 'male']).agg({'age': 'max'})
gb = pd.DataFrame(gb.join(namesakes))
# print(gb.iloc[0], gb.iloc[0, 1])
gb
# for name in namesakes.index:
#     print(name)
#     print(gb.loc(name))
#     age = gb.loc[counter, 0]
#     for j in range(i):
#         agelist.append(age)
#     counter+=1

# for key, value in gb:
#     print("( key, type(value) ) = (", key, ",", type(value), ")")
# print("Средние значения и стандартные отклонения по возрастам:\n")
# import numpy as np
# reign_csv.groupby('leader').aggregate(lambda x: np.max(x)).head()
# reign_csv[(reign_csv['tenure_months'] < 120)].groupby('leader').aggregate(lambda x: np.x.max())

                                tenure_months
leader        country     male
A. Nastase    Romania     1              49.0
A. Papandreou Greece      1              94.0
AL-Sallal     Yemen       1              63.0
Abacha        Nigeria     1              56.0
Abbasi        Pakistan    1              10.0
...                                       ...
van Agt       Netherlands 1              60.0
van Houtte    Belgium     1              28.0
van Rompuy    Belgium     1              12.0
von Moos      Switzerland 1              12.0
von Steiger   Switzerland 1              12.0

[2119 rows x 1 columns]

In [34]:
# 6:
import gc
gc.collect()
# country = reign_csv['country'] == "USA"
# name = reign_csv['leader'] == 'Obama'
# el = reign_csv['elected'] == 1
# tnr = reign_csv['tenure_months'] == 1
# reign_csv[country & tnr]
# pd.DataFrame(reign_csv.groupby(['leader', 'country', 'male']).agg({'tenure_months': 'min'}))
# pd.DataFrame(reign_csv.groupby(['leader', 'country', 'male']),columns=['leader', 'country', 'male'])
# reign_csv.groupby(['country', 'leader', 'male']).agg({'leader'})
reignpart = reign_csv[['country', 'leader', 'male']]
pd.DataFrame(reignpart.groupby(['country', 'leader', 'male'])).reset_index()

,index,0,1
0,0,"(Afghanistan, Abdallah Yakta, 1)",country leader male 1054...
1,1,"(Afghanistan, Abdul Zahir, 1)",country leader male 105535 ...
2,2,"(Afghanistan, Amin, 1)",country leader male 105632 Afgha...
3,3,"(Afghanistan, Ashraf Ghani, 1)",country leader male 106064...
4,4,"(Afghanistan, Burhanuddin Rabbani, 1)",country leader male...
...,...,...,...
2114,2114,"(Zambia, Scott, 1)",country leader male 82479 Zambia Scot...
2115,2115,"(Zimbabwe, Mnangagwa, 1)",country leader male 83165 Zimbab...
2116,2116,"(Zimbabwe, Mugabe, 1)",country leader male 82712 Zimbabwe ...
2117,2117,"(Zimbabwe, Muzorewa, 1)",country leader male 82704 Zimbabw...
2118,2118,"(Zimbabwe, Smith, 1)",country leader male 82541 Zimbabwe ...

In [ ]:
# 7: статистика возраста и пола для каждой из стран:
# reign_csv.columns
df = reign_csv.groupby(['leader', 'country', 'male']).count()
df