In [1]:
import numpy as np
import pandas as pd
import gc

gc.collect()

reign_csv = pd.read_csv("REIGN_2019_10.csv")
reign_csv

,ccode,country,leader,year,month,elected,age,male,militarycareer,tenure_months,...,delayed,lastelection,loss,irregular,prev_conflict,pt_suc,pt_attempt,precip,couprisk,pctile_risk
0,2.0,USA,Truman,1950.0,1.0,1.0,66.0,1,0.0,58.0,...,0.0,2.639057,5.327876,7.565793,0.0,0.0,0.0,-0.058404,NaN,NaN
1,2.0,USA,Truman,1950.0,2.0,1.0,66.0,1,0.0,59.0,...,0.0,2.708050,5.332719,7.566311,0.0,0.0,0.0,-0.104454,NaN,NaN
2,2.0,USA,Truman,1950.0,3.0,1.0,66.0,1,0.0,60.0,...,0.0,2.772589,5.337538,7.566829,0.0,0.0,0.0,-0.097329,NaN,NaN
3,2.0,USA,Truman,1950.0,4.0,1.0,66.0,1,0.0,61.0,...,0.0,2.833213,5.342334,7.567346,0.0,0.0,0.0,-0.032230,NaN,NaN
4,2.0,USA,Truman,1950.0,5.0,1.0,66.0,1,0.0,62.0,...,0.0,2.890372,5.347107,7.567863,0.0,0.0,0.0,-0.123748,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134241,990.0,Samoa,Tuilaepa Sailele Malielegaoi,2019.0,6.0,1.0,74.0,1,0.0,247.0,...,0.0,3.688879,5.932245,6.538140,0.0,0.0,0.0,0.085686,0.000290,0.091880
134242,990.0,Samoa,Tuilaepa Sailele Malielegaoi,2019.0,7.0,1.0,74.0,1,0.0,248.0,...,0.0,3.713572,5.934894,6.539586,0.0,0.0,0.0,0.089305,0.000290,0.092486
134243,990.0,Samoa,Tuilaepa Sailele Malielegaoi,2019.0,8.0,1.0,74.0,1,0.0,249.0,...,0.0,3.737670,5.937536,6.541030,0.0,0.0,0.0,0.108518,0.000310,0.108954
134244,990.0,Samoa,Tuilaepa Sailele Malielegaoi,2019.0,9.0,1.0,74.0,1,0.0,250.0,...,0.0,3.761200,5.940171,6.542472,0.0,0.0,0.0,0.092245,0.000290,0.091870
134245,990.0,Samoa,Tuilaepa Sailele Malielegaoi,2019.0,10.0,1.0,74.0,1,0.0,251.0,...,0.0,3.784190,5.942800,6.543912,0.0,0.0,0.0,0.054953,0.000292,0.094426

In [ ]:
# 1 and 2:
# df_len = len(reign_csv)
# print(df_len)
# gov_num = len(reign_csv.government.unique())
# av_age = sum(reign_csv.age)/df_len
# print("1: Кол-во форм правлений: {0:3d}\n,2: Средний возраст правителей: {1:5.2f}\n".format(gov_num, av_age))

# Пример использования Series.replase ---------------------
# reign_csv.male = reign_csv.male.replace(to_replace=[0, 1], value=['False', 'True'])
# print(reign_csv)
# ct = pd.DataFrame(pd.crosstab(reign_csv.male, [reign_csv.leader, reign_csv.country]), index=['True', 'False'])
# print("cross tab:\n",type(ct),ct.index)
# ct.loc['True']
# ---------------------------------------------------------

# ct = pd.crosstab(reign_csv.leader, [reign_csv.country, reign_csv.age, reign_csv.male == 0])
# ct = pd.DataFrame(pd.crosstab(reign_csv.male, [reign_csv.leader, reign_csv.country]), index=[0, 1])
# print("cross tab:\n",ct)
# print("Встречаемость женщин:\n",ct.iloc[0].head())
# print("Встречаемость мужчин:\n",ct.iloc[1].head())
# wnum = ct.iloc[0].ge(1).sum(axis=1) # ct.iloc[0].ge(1) - серия True/False
# mnum = ct.iloc[1].ge(1).sum(axis=1)
# snum = wnum+mnum
# print("Всего глав государств: {0}.\nИз них женщин: {1}, и мужчин: {2}".format(snum, wnum, mnum))
# # 3 and 4:
# print("Процентное соотношение ж/м (без учета срока правления): {0:.2f} % к {1:.2f} %".format(s0val/sval*100, s1val/sval*100))
# 
# !! ПРЕДУСМОТРЕТЬ ПАРАМЕТР elected !!
#s0val = ct.iloc[0].sum(axis=0) # ct.iloc[0].ge(1) - серия True/False
# s1val = ct.iloc[1].sum(axis=0)
# sval = s0val + s1val
# print("Процентное соотношение ж/м (с учетом срока правления): {0:.2f} % к {1:.2f} %".format(s0val/sval*100, s1val/sval*100))

# Пример использования логических statements -------------
# reign_csv1 = reign_csv[(reign_csv['male'] == 1)]
# print("reign_csv1:\n",reign_csv1)
# --------------------------------------------------------

In [61]:
# 5:
rgn120 = reign_csv[(reign_csv['tenure_months'] < 120)]
dfgb = pd.DataFrame(rgn120.groupby(['leader', 'country', 'male']).agg({'age': 'max'}).reset_index())
print("Среднее и среднеквадратичное отклонение возрастов правителей со сроком < 120 мес.: {0:.3f} {1:.3f}"
      .format(dfgb.age.mean(), dfgb.age.std()))
rgn120 = reign_csv[(reign_csv['tenure_months'] >= 120)]
dfgb = pd.DataFrame(rgn120.groupby(['leader', 'country', 'male']).agg({'age': 'max'}).reset_index())
print("Среднее и среднеквадратичное отклонение возрастов правителей со сроком >= 120 мес.: {0:.3f} {1:.3f}"
      .format(dfgb.age.mean(), dfgb.age.std()))

Среднее и среднеквадратичное отклонение возрастов правителей со сроком < 120 мес.: 58.330 10.264
Среднее и среднеквадратичное отклонение возрастов правителей со сроком >= 120 мес.: 66.980 11.008

In [25]:
country = reign_csv['country'] == "USA"
name = reign_csv['leader'] == 'Kennedy'
el = reign_csv['elected'] == 0
reign_csv[country & name & el]

Empty DataFrame
Columns: [ccode, country, leader, year, month, elected, age, male, militarycareer, tenure_months, government, anticipation, ref_ant, leg_ant, exec_ant, irreg_lead_ant, election_now, election_recent, leg_recent, exec_recent, lead_recent, ref_recent, direct_recent, indirect_recent, victory_recent, defeat_recent, change_recent, nochange_recent, delayed, lastelection, loss, irregular, prev_conflict, pt_suc, pt_attempt, precip, couprisk, pctile_risk]
Index: []

[0 rows x 38 columns]

In [24]:
pd.DataFrame(reign_csv.groupby(['leader', 'country', 'male']))

('A. Nastase', 'Romania', 1)